<h1>Formulario login</h1>
{{#if error}}
    <p class="text-danger">{{error}}</p>
{{/if}}
<form action="/api/auth/login" method="post">
    <label>Nombre:</label>
    <input type="text" placeholder="Ingresa tu nombre" name="name"/>
    <button type="submit">Iniciar sesion</button>
</form>